.DS_Store
.gradle/
build/
.idea/

acceptance-tests/out/
api/api-model/out/
app/out/
commons/commons-ktor/out/
commons/commons-lang/out/
commons/commons-test/out/
boundary/boundary-db/out/
domain/domain-boundary/out/
domain/domain-logic/out/
domain/domain-model/out/
